@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button($couleur: blue, $textColor: white){
    margin: 10px;
    border: none;
    padding: 12px;
    background-color: $couleur;    
    color: $textColor;
    &:hover{
        background-color: rgba($couleur, 50%);
        cursor: pointer;
    }
}


@mixin resp_h1($size-desktop: 2.5rem, $size-medium: 2rem, $size-small: 1.5rem){
    
    font-size: $size-desktop;

    @media (max-width: $breakpoint-small) {
        font-size: $size-small;
    }
    @media (max-width: $breakpoint-small) {
        font-size: $size-small;
    }
}